#canvas {
    border: solid 1px #000;
    cursor: url(/img/pencil.cur), auto
}

#canvas.eraser {
    cursor: url(/img/eraser.cur), auto
}
#canvas.pencil {
    cursor: url(/img/pencil.cur), auto
}

#toolbar {
    padding: 10px;
    margin-left: 600px;
}

#toolbar button {
    margin-right: 10px
}

#pencil {
    background-image: url(/img/pencil.cur);
    background-color: transparent;
    width: 32px;
    height: 32px;
}

#eraser {
    background-image: url(/img/eraser.cur);
    background-color: transparent;
    width: 32px;
    height: 32px;
}